rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if (request.auth != null && request.auth.uid == userId) || (userId >= 'STUDENT-' && userId < 'STUDENT-~');
    }
    match /users/{userId}/{document=**} {
      allow read, write: if (request.auth != null && request.auth.uid == userId) || (userId >= 'STUDENT-' && userId < 'STUDENT-~');
    }
    match /leaderboard/{userId} {
      allow read: if true;
      allow write: if (request.auth != null && request.auth.uid == userId) || (userId >= 'STUDENT-' && userId < 'STUDENT-~');
    }
    match /questions/{questionId} {
      allow read: if true;
      allow write: if true;
    }
    match /question_bundles/{bundleId} {
      allow read: if true;
      allow write: if true;
    }
    match /topics_progress/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
